body {
    margin: 0;
    font-family: 'Poor Story', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url('');
    background: url('https://img3.akspic.ru/crops/2/0/3/4/6/164302/164302-inoplanetnoe_blyudce-vnezemnaya_zhizn-letayushhaya_tarelka-nauchnaya_fantastika-voda-3840x2160.jpg');
    /* background: url('https://img2.akspic.ru/crops/4/7/9/8/5/158974/158974-vnezemnaya_zhizn-planeta-atmosfera-mir-svet-3840x2160.jpg'); */
    /* background: url('https://img3.akspic.ru/crops/4/8/3/9/6/169384/169384-vashe_imya-miyamizu_mitsuha-anime-taki_tachibana-atmosfera-3840x2160.png'); */
    /* background: url('https://img1.akspic.ru/previews/3/4/7/8/4/148743/148743-abstraktnoe_iskusstvo-cifrovoe_iskusstvo-voda-liniya-grafika-x750.jpg'); */
    background-position: center center;
    background-size: cover;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    text-align: center;
    color: rgb(75, 7, 83);
    background-color: rgba(255, 255, 255, 0.755);
    padding: 2px;
}

.clock {
    display: flex;
}

.clock div {
    position: relative;
    margin: 5px;
}

.clock span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(106, 90, 205, 0.7);
    opacity: 8;
    color: white;
}

.clock #text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(0, 0, 139, 0.9);
}

.clock #ampm {
    width: 60px;
    height: 30px;
    bottom: 0;
    position: absolute;
    font-size: 20px;
    background-color: rgb(75, 7, 83);
}

.btn {
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: rgba(22, 53, 177, 0.976);
    color: whitesmoke;
    border: 1px solid whitesmoke;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2.4px;
}

.btn:hover {
    background-color: whitesmoke;
    border: 1px solid rgb(0, 0, 139, 0.9);
    color: rgb(0, 0, 139, 0.9);
}